<?xml version="1.0"?>
<model>
<name> Mobile Warehouse Robot </name>
<version> 1.0 </version>
<sdf version='1.4'> model.sdf </sdf>
<author>
	<name> Ritik Jain </name>
	<email> rjain2@cs.iitr.ac.in </email>
</author>
<description>
	A basic differential dtivie mobile warehouse robot
</description>
</model>
